.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

section {
    padding: 2rem;
    margin-bottom: 3rem;
}

@media (max-width: 600px) {

    section {
      padding: 1px;
    }
}
  