/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  color: black;
  line-height: 1.6;
}

body, label, input, textarea {
    font-family: 'Inter', 'sans-serif';
}


header {
    font-size: larger;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
}

.nav-link {
    font-size: larger;
    color: black;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #213448;
}

label {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.icons {
  margin-right: 0.5rem;
  color: #0077B5;
  font-size: 32px;       
  vertical-align: middle;
}

.buttonIcons {
  margin-right: 0.5rem;
  color: white;
  font-size: 32px;       
  vertical-align: middle;
}

footer {
  font-size: larger;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
  border: 1px solid black
}


@media (max-width: 600px) {

  header {
    font-size: small;
}

}